<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/extras/dialect">
<body>
<th:block layout:fragment="menu">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="index">cat-angular demo app</a>
            </div>
            <div class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a ui-sref="index">Home</a></li>
                    <li><a ui-sref="Book.list">Books</a></li>
                    <li><a ui-sref="Manufacturer.list">Car Manufacturers</a></li>
                    <li><a ui-sref="samples">Samples</a></li>
                </ul>

                <cat-main-menu></cat-main-menu>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="profile-menu">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">eOCS</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <ef-locale-selector></ef-locale-selector>
                    <li><a th:href="@{/logout}">Sign Out</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>
</th:block>
</body>
</html>
