<a class="btn btn-primary" ui-sref="Manufacturer.tab.Industry.detail({id: 'new', manufacturerId: manufacturerId})">New</a>

<cat-paginated ng-if="listData">
    <table class="table">
        <thead>
        <tr>
            <th cat-sortable="name">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in listData.collection">
            <td><a ui-sref="Manufacturer.tab.Industry.detail({id: data.id, manufacturerId: data.manufacturer.id})">{{::data.name}}</a></td>
        </tr>
        </tbody>
    </table>
</cat-paginated>
