<div class="form-horizontal">

    <div cat-input-group label="Name" name="name">
        <input id="name" ng-model="editDetail.name" class="form-control" />
    </div>

    <div cat-input-group label="Founding Date:" name="foundingDate">
        <div class="input-group">
            <input type="text" class="form-control"
                   ng-model="foundingDateModel"
                   ng-model-options="{getterSetter: true}"
                   datepicker-popup
                   is-open="foundingDateOpen"
                   datepicker-options="dateOptions" />

              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="foundingDateOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </div>
    </div>

    <div cat-input-group label="Country" name="countryCode">
        <input id="countryCode" ng-model="editDetail.countryCode" class="form-control" />
    </div>

</div>