<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <script src="webjars/lodash/3.10.0/lodash.js"></script>
    <script src="webjars/jquery/2.1.4/dist/jquery.js"></script>
    <script src="webjars/angular/1.4.3/angular.js"></script>
    <script src="webjars/angular-ui-router/0.2.15/release/angular-ui-router.js"></script>
    <script src="webjars/select2/3.4.8/select2.js"></script>
    <script src="webjars/angular-ui-select2/0.0.5/src/select2.js"></script>
    <script src="webjars/angular-bootstrap/0.13.1/ui-bootstrap-tpls.js"></script>
    <script src="webjars/spin.js/2.0.2/spin.js"></script>
    <script src="webjars/angular-spinner/0.6.2/angular-spinner.js"></script>
    <script src="webjars/cat-angular/0.0.47/cat-angular.js"></script>
    <script src="webjars/cat-angular/0.0.47/cat-angular.tpl.js"></script>

    <script src="demo.js"></script>
</head>
<body>
1 + 1 = {{1 + 1}}

<ui-view></ui-view>
</body>
</html>