<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8" />
    <title>cat-angular demo app</title>
    <script src="webjars/lodash/3.10.0/lodash.js"></script>
    <script src="webjars/jquery/2.1.4/dist/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="webjars/angular/1.4.3/angular.js"></script>
    <script src="webjars/angular-ui-router/0.2.15/release/angular-ui-router.js"></script>
    <script src="webjars/select2/3.4.8/select2.js"></script>
    <script src="webjars/angular-ui-select2/0.0.5/src/select2.js"></script>
    <script src="webjars/angular-bootstrap/0.13.1/ui-bootstrap-tpls.js"></script>
    <script src="webjars/spin.js/2.0.2/spin.js"></script>
    <script src="webjars/angular-spinner/0.6.2/angular-spinner.js"></script>
    <script src="webjars/cat-angular/0.0.47/cat-angular.js"></script>
    <script src="webjars/cat-angular/0.0.47/cat-angular.tpl.js"></script>

    <script src="js/demo.js"></script>

    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">cat-angular demo app</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a ui-sref="Book.list">Books</a></li>
                    <li><a ui-sref="Manufacturer.list">Car Manufacturers</a></li>
                    <li><a ui-sref="CarModel.list">Models</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <ui-view></ui-view>
        </div>

    </div><!-- /.container -->
</body>
</html>