<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8" />
    <title>cat-angular demo app</title>
    <script src="webjars/lodash/3.10.1/lodash.js"></script>
    <script src="webjars/jquery/2.1.4/dist/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.5/dist/js/bootstrap.js"></script>
    <script src="webjars/angular/1.4.3/angular.js"></script>
    <script src="webjars/angular-ui-router/0.2.15/release/angular-ui-router.js"></script>
    <script src="webjars/select2/3.4.8/select2.js"></script>
    <script src="webjars/angular-ui-select2/0.0.5/src/select2.js"></script>
    <script src="webjars/angular-bootstrap/0.13.3/ui-bootstrap-tpls.js"></script>
    <script src="webjars/spin.js/2.0.2/spin.js"></script>
    <script src="webjars/angular-spinner/0.6.2/angular-spinner.js"></script>
    <script src="webjars/cat-angular/0.0.47/cat-angular.js"></script>
    <script src="webjars/cat-angular/0.0.47/cat-angular.tpl.js"></script>

    <script src="country/country-module.js"></script>
    <script src="js/demo.js"></script>
    <script src="manufacturer/manufacturer-details-controller.js"></script>
    <script src="manufacturer/carmodel/manufacturer-carmodel-module.js"></script>
    <script src="manufacturer/carmodel/manufacturer-carmodel-controller.js"></script>
    <script src="manufacturer/industry/manufacturer-industry-module.js"></script>
    <script src="manufacturer/industry/manufacturer-industry-controller.js"></script>
    <script src="manufacturer/carmodel/variation/manufacturer-carmodel-variation-controller.js"></script>
    <script src="manufacturer/carmodel/variation/manufacturer-carmodel-variation-module.js"></script>

    <link href="webjars/bootstrap/3.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="webjars/select2/3.4.8/select2.css" rel="stylesheet" />
    <link href="webjars/select2/3.4.8/select2-bootstrap.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
    <link href="webjars/cat-angular/0.0.47/cat-angular.css" rel="stylesheet" />
</head>
<body>
    <th:block layout:include="fragments/menu :: menu" layout:fragment="menu">The menu</th:block>

    <th:block layout:include="fragments/breadcrumbs :: breadcrumbs">The breadcrumbs</th:block>

    <th:block layout:include="fragments/messages :: messages">The messages</th:block>

    <div class="container">
        <ui-view></ui-view>
    </div>

    <div us-spinner="{color: '#FFF'}" spinner-key="loading-spinner">
        <div class="spinner-backdrop fade-in" ng-hide="!loading"></div>
        <div class="spinner-background fade-in" ng-hide="!loading"></div>
    </div>
</body>
</html>